.card,.card-img{
    border-radius: 0;
}
.product_category{
    text-transform: capitalize;
    font-weight: 200;
    line-height: 2rem;
}
.product_title a{
    text-decoration: none;
    color: #212121;
    font-weight: 400;
}

.product_title a:hover{
    text-decoration: none;
    color: #ff4545;
}

.product_price_offer{
    color: #ff4545;
    font-weight: 700;
}

.btn-add-cart{
    position: relative;
    background-color: transparent;
    color: #ff4545;
    border: solid 1px #212121;
    font-weight: 600;
    transition: all 0.5s ease;
    text-transform: uppercase;
    border-radius: 0 !important;
}

.btn-add-cart:hover{
    background-color: #ff4545 !important;
    color: #ffffff !important;
    border-color: #ff4545 !important;
}
